<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chowyijiu.boot.mapper.EmpMapper">

    <!--Emp getEmpById(Integer empId);-->
    <select id="getEmpById" resultType="Emp">
        select *
        from t_emp
        WHERE emp_id=#{empId};
    </select>
</mapper>