<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>员工列表</title>
    <link rel="stylesheet" href="/css/index_work.css">
</head>
<!--/*@thymesVar id="page" type="com.github.pagehelper.PageInfo"*/-->
<body>
<table>
    <tr>
        <th colspan="5">员工列表</th>
        <th>操作</th>
    </tr>
    <tr>
        <th>流水号</th>
        <th>员工姓名</th>
        <th>年龄</th>
        <th>性别</th>
        <th>邮箱</th>
        <th><a th:href="@{/to/add}">添加</a></th>
    </tr>
    <!--/*@thymesVar id="employee" type="com.chowyijiu.ssm.pojo.Employee"*/-->
    <tr th:each="employee, status : ${page.list}">
        <td th:text="${(page.pageNum - 1) * page.pageSize  + status.count}"></td>
        <td th:text="${employee.empName}"></td>
        <td th:text="${employee.age}"></td>
        <td th:if="${employee.gender != '0'}" th:text="男"></td>
        <td th:if="${employee.gender == '0'}" th:text="女"></td>
        <!--<td th:text="${employee.gender}"></td>-->
        <td th:text="${employee.email}"></td>
        <td>
            <form id="temp_form" th:action="@{'/employee/' + ${page.pageNum} + '/' + ${employee.empId}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <a href="javascript:document.getElementById('temp_form').submit()">删除</a>
            </form>
            <a th:href="@{'/employee/' + ${page.pageNum} + '/' + ${employee.empId}}">修改</a>
        </td>
    </tr>
</table>
<div style="text-align: center">
    <a th:if="${page.hasPreviousPage}" th:href="@{/employee/page/1}">首页</a>
    <a th:if="${page.hasPreviousPage}" th:href="@{'/employee/page/' + ${page.prePage}}">上一页</a>
    <span th:each="num : ${page.navigatepageNums}">
        <a th:if="${page.pageNum == num}" style="color: blue" th:href="@{'/employee/page/' + ${num}}"
           th:text="${num}"></a>
        <a th:if="${page.pageNum != num}" th:href="@{'/employee/page/' + ${num}}" th:text="${num}"></a>
    </span>
    <a th:if="${page.hasNextPage}" th:href="@{'/employee/page/' + ${page.nextPage}}">下一页</a>
    <a th:if="${page.hasNextPage}" th:href="@{'/employee/page/' + ${page.pages}}">尾页</a>
</div>
</body>
</html>