<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>欢迎 Welcome</h1>

    <a th:href="@{/employee}">查询所有的员工信息</a><br/>
    <a th:href="@{/employee/page/1}">查询员工的分页信息</a><br/>

    测试 REST 风格
    <form action="/user">
        <input value="REST-GET 提交" type="submit"/>
    </form>
    <form action="/user" method="post">
        <input value="REST-POST 提交" type="submit">
    </form>
    <form action="/user" method="post">
        <input type="hidden" name="_method" value="delete">
        <input value="REST-DELETE 提交" type="submit">
    </form>
    <form action="/user" method="post">
        <input type="hidden" name="_method" value="put">
        <input value="REST-PUT 提交" type="submit">
    </form>

    <a href="car/3/owner/lisi">car/{id}/owner/{username}</a><br/>
    <a href="car/3/owner/lisi?age=18&inters=basketball&inters=game">car/{id}/owner/{username}?age=18&inters=basketball&inters=game</a>

    <form action="/save" method="post">
        用户名: <input name="username">
        邮箱: <input name="email">
        <input type="submit" value="提交">
    </form>

    <a href="/goto">测试RequestAttribute</a><br/>

    /cars/{path}?xxx=xxx&aaa=ccc queryString 查询字符串, @RequestPram:<br/>
    /cars/{path;low=34,brand=byd,audi,yd} 矩阵变量 <br/>
    页面开发, cookie禁用了, session里面的内容怎么使用:<br/>
    session.set(a,b) -->> jsessionid -->> cookie -->> 每次发送请求携带
    url重写: /abc;jsessionid=xxx 把cookie的值使用矩阵变量的方式进行传递
    <a href="/cars/sell;low=34;brand=byd,audi,yd"> @MatrixVariable 矩阵变量 1</a><br/>
    <a href="/cars/sell;low=34;brand=bdy;brand=audi;brand=yd">@MatrixVariable 矩阵变量 2</a><br/>
    <a href="/boss/1;age=10/2;age=20">@MatrixVariable /boss/{bossId}/{empId}</a><br/>

测试复杂类型<br/>
测试封装pojo<br/>
<form action="/saveuser" method="post">
    姓名: <input name="userName" value="zhangsan"> <br/>
    年龄: <input name="age" value="18"> <br/>
    生日: <input name="birth" value="2019/12/10"> <br/>
<!--    宠物名字: <input name="pet.name" value="lkp"> <br>-->
<!--    宠物年龄: <input name="pet.age" value="10">-->
    宠物: <input name="pet" value="刘坤鹏,10"><br/>
    <input type="submit" value="保存">
</form><br/>

    <a href="/test/person">/test/person</a>
</body>
</html>